{% extends "base.html" %}
{% load static %}

<title>Home Page</title>

{% block content %}

  <div class="text-center">
    <h1>{{ title }}</h1>
    <h1>Hello, world!!! This is home page...</h1>
  </div>
  <div class="container">
      <div class="row">
        <div class="col">
            <p>{{ content }}</p>
        </div>
      </div>
      <!-- User specific data -->  
      {% if request.user.username == "shiv" %}
        <div class="row">
          <div class="col">
              <h1>Premium User</h1>
              <p>{{ premium_content }}</p>
          </div>
        </div>
      {% else %}
        <div class="row">
          <div class="col">
              <h1>You are not a premium user. Buy subscription to see the content-code.</h1>
          </div>
        </div>
      {% endif %}
  </div>

{% endblock %}