{% extends "base.html" %}

{% block content %}
    <div class='container'>
        <div class='row'>
            <div class='col'>
                <b>{{ object.title }}</b> <br/>
                <b>{{ object.timestamp }}</b>
                {{ object.description | linebreaks }} <br/>
                {% if object.image %}
                    <img src="{{ object.image.url }}" class="img-fluid" width="18%"/>
                {% endif %} <br/> <br/>
                <b>{{ object.offer_description }}</b> <br/>
                <b>Price: {{ object.price }}</b>
            </div>
        </div>
    </div>
{% endblock %}